body{
     background-color: white;
     background-image: url(Gemini_Generated_Image_x28kvxx28kvxx28k.png);
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     height: 0px;
     margin: 0;
}
.titulo{
    color: #FFD8F0;
    text-align: center;
    margin-top: 77px;
    margin-left: -450px;
    font-size: 30pt;
    font-family: 'pixel';
    background: linear-gradient(90deg, #ff6b6b, #845ef7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.nomes{
   
    color: #FFD8F0;
    margin-top: -30px;
    margin-left: 278px;
    font-size: 14px;
    text-shadow:
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    font-family: 'pixel2';
    border-style: double;
    border-color: red;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.nomesesq{
    color: darkgrey;
    text-align: left;
    margin-top: -260px;
    margin-left: 60px;
    font-size: 20pt;
    text-shadow:
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}
@font-face{
    font-family: 'pixel';
    src: url('04B_30__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'pixel2';
    src: url('PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 5px;
}